.btn {
  box-sizing: border-box;
  color: white;
  background-color: slateblue;
  border: none;
  outline: none;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
}

.btn:hover {
  transition: all 0.3s;
  opacity: 0.9;
}

.btn-small {
  font-size: 10px;
  padding: 4px 8px;
}

.btn-medium {
  font-size: 12px;
  padding: 8px 12px;
}

.btn-large {
  font-size: 14px;
  padding: 12px 14px;
}
